@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
}

.hero-bg {
    background: rgb(13, 110, 139) url(../images/top\ Image.jpg);
    background-size: 100%;
    background-position: 0% 50%;
    color: white;
    text-align: center;
    padding-bottom: 4em;
}

@media only screen and (max-width: 500px) {
    .hero-bg {
        background-position: 0% 0%;
    }
    header {
        padding: 1em 0;
    }
    .hero-bg a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
    }
    section {
        margin: 0 1em;
    }
    h1 {
        color: aquamarine;
        font-size: 2.5rem;
        margin: 2em 0 1.2em;
    }
    img {
        width: 100%;
    }
    h1 span {
        text-transform: uppercase;
        display: block;
        font-size: 1.4rem;
        position: relative;
        z-index: 1;
    }
    h1 span::before {
        content: ' ';
        position: absolute;
        width: 4.5em;
        background: #00Bfff;
        height: .4em;
        bottom: 0;
        z-index: -1;
        margin-left: -.3em;
    }
    .hero-bg p {
        font-weight: bold;
        margin: 0 1em 3em;
    }
    .form-container {
        background-color: white;
        margin: 2em -1em 0;
        padding: 2em;
    }
}